---
layout: page
---

{% assign lang = page.lang | default: site.lang %}
{% assign trad = site.data.languages[lang] %}

<div class="row">
  <div class="col-md-3">
    <table class="table" aria-label="{{ lang.news.infos }}">
      <tr>
        <th scope="row">{{ trad.date }}</th>
        <td><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d/%m/%Y" }}</time></td>
      </tr>
      <tr>
        <th scope="row">{{ trad.author }}</th>
        <td>{{ page.author }}</td>
      </tr>
      <tr>
        <th scope="row">{{ trad.category }}</th>
        <td>{{ page.category }}</td>
      </tr>
      <tr>
        <th scope="row">{{ trad.share }}</th>
        <td><a href="#">Facebook</a></td>
      </tr>
      <tr>
        <th scope="row">{{ trad.share }}</th>
        <td><a href="#">Twitter</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-8 offset-md-1">
    {%- if page.image -%}
      {% picture {{ page.image }} --alt {{ page.title }} --img class="img-fluid" %}
    {%- endif -%}
    {{ content }}
    <nav aria-label="{{ trad.news.navigation }}">
      <ol>
        <li>
          <a href="#">{{ trad.news.previous }}</a>
        </li>
        <li>
          <a href="#">{{ trad.news.next }}</a>
        </li>
      </ol>
    </nav>
  </div>
</div>
